.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero-img {
  width: 250px;
  height: 250px;
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-copy-wrapper h1 {
  font-size: 20px;
  margin-bottom: 2em;
  margin-bottom: 0.5em;
}

.hero-content {
  max-width: 700px;
}


@media (max-width: 900px) {
  .hero-img {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .hero-copy-wrapper h1 {
    font-size: 30px;
    margin-bottom: 0.5em;
  }
  
  .hero-copy-text p {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }

}
